include ChangeLog.rst
include README.md
include LICENSE
include tox.ini
include .pre-commit-config.yaml
recursive-include tests *.py
recursive-include examples *.csv
recursive-include examples *.html
recursive-include examples *.md
recursive-include examples *.py
recursive-include examples *.svg
